@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sprat-Bold';
  src: url('../public/fonts/Sprat-Bold.otf');
}
@font-face {
  font-family: 'Sprat-Black';
  src: url('../public/fonts/Sprat-Black.otf');
}
@font-face {
  font-family: 'Sprat-Regular';
  src: url('../public/fonts/Sprat-Regular.otf');
}

@font-face {
  font-family: 'Sprat-Medium';
  src: url('../public/fonts/Sprat-Medium.otf');
}

@font-face {
  font-family: 'Sprat-Light';
  src: url('../public/fonts/Sprat-CondensedLight.otf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../public/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../public/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../public/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../public/fonts/Roboto-Regular.ttf');
}

input[type='file'] {
  background-color: rgb(250, 250, 250);
}
.custom-image-file {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tag-input {
  font-family: 'Roboto-Regular';
}

.react-tag-input__input::placeholder,
.react-tag-input__input:-moz-placeholder,
.react-tag-input__input:-ms-input-placeholder,
.react-tag-input__input::-moz-placeholder,
.react-tag-input__input::-webkit-input-placeholder {
  font-family: 'Roboto-Regular';
}
