@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sprat-Bold';
  src: url('../public/fonts/Sprat-Bold.otf');
}
@font-face {
  font-family: 'Sprat-Black';
  src: url('../public/fonts/Sprat-Black.otf');
}
@font-face {
  font-family: 'Sprat-Regular';
  src: url('../public/fonts/Sprat-Regular.otf');
}

@font-face {
  font-family: 'Sprat-Light';
  src: url('../public/fonts/Sprat-CondensedLight.otf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../public/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../public/fonts/Roboto-Regular.ttf');
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
